<div class="container bg-info p-2">
  <h1>Burbank</h1>
  <img style="width: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Burbank_media_district_from_Griffith_Park_2015-11-07.jpg" alt="" class='align-top'>
  <div class="d-inline-block align-top ml-2">
    <h5>Humidity: {{weather?.main.humidity}}</h5>
    <h5>Temperature (Average): {{weather?.main.temp}}</h5>
    <h5>Temperature (High): {{weather?.main.temp_max}}</h5>
    <h5>Temperature (Low): {{weather?.main.temp_min}}</h5>
    <h5>Status: {{weather?.weather[0].description}}</h5>
  </div>


</div>
