<div class="bg-primary p-4">
  <h1>Weather API</h1>
  <a class='btn btn-dark m-1' [routerLink]="['/burbank']">Burbank</a>
  <a class='btn btn-dark m-1' [routerLink]="['/chicago']">Chicago</a>
  <a class='btn btn-dark m-1' [routerLink]="['/dallas']">Dallas</a>
  <a class='btn btn-dark m-1' [routerLink]="['/dc']">D.C.</a>
  <a class='btn btn-dark m-1' [routerLink]="['/sanjose']">San Jose</a>
  <a class='btn btn-dark m-1' [routerLink]="['/seattle']">Seattle</a>


  <router-outlet></router-outlet>
</div>
