<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-primary p-5">
  <h1 class=' text-white'>This is the Root Route that will have links to the Products route and the Reviews route</h1>
  <router-outlet></router-outlet>

</div>
<!-- <button class='btn btn-success m-1' type="button" name="button" (click)='showProducts(1)'>Products Component</button>
<button class='btn btn-danger m-1' type="button" name="button" (click)='showReviews(1)'>Reviews Component</button>
<app-products *ngIf='product == 1' [productToShow]='product'></app-products>
<app-reviews *ngIf='review == 1' [reviewToShow]='review'></app-reviews> -->
